<div class="fixed bottom-0 right-0 mb-4 mr-4 z-50 animate-fadeInUp">
    <div class="bg-white rounded-lg shadow-xl w-80 md:w-96">
        <!-- Header -->
        <div class="flex items-center justify-between p-3 bg-sky-600 text-white rounded-t-lg cursor-pointer hover:bg-sky-700 transition-colors"
            (click)="toggleChat()">
            <h3 class="font-semibold text-base">Chat with AI Analyst</h3>
            <button class="focus:outline-none">
                <!-- Simple Up/Down Arrow Icon -->
                <svg *ngIf="!isExpanded" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                    fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                        clip-rule="evenodd" />
                </svg>
                <svg *ngIf="isExpanded" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                    fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                        clip-rule="evenodd" />
                </svg>
                <!-- You can replace with more sophisticated icons like Material Icons or Font Awesome -->
            </button>
        </div>

        <!-- Body - Chat Content -->
        <div *ngIf="isExpanded" class="chat-widget-body">
            <!-- Embed your existing app-chat component -->
            <!-- The app-chat component needs to be styled to fit within this container -->
            <app-chat [chatHistory]="chatHistory" [isLoading]="isLoading" [chatError]="chatError"
                (messageSent)="handleMessageSent($event)" class="flex flex-col h-full w-full">
            </app-chat>
        </div>
    </div>
</div>